<div style="background:#33FF99 !important" class="jumbotron">
<div style="background:#E8E8E8 !important" class="panel panel-default">
<h3>New Movie</h3>
</br>
<%= render 'form' %>

<%= link_to 'Back', movies_path %>
</div>
</div>
